html, body{
    background-color: var(--white);
    font-size: var(--space);
    height: auto;
    min-height: 100vh;
}

*{
    font-family: 'Roboto', sans-serif !important;
    box-sizing: border-box;
}

p{
    word-break: break-word;
}

input, img{
    border-radius: var(--radius);
}

.body{
    display: flex;
    flex-direction: column;
}

.content{
    padding: 0 var(--space);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: block;
}

.content.content--main{
    padding-top: var(--double-space);
    padding-bottom: var(--double-space);
    flex-grow: 1;
}

.title{
    color: var(--white);
    font-size: 2rem;
    font-weight: 600;
}

.subtitle{
    color: var(--black);
    font-size: 1.75rem;
    font-weight: 500;
}

.square-image{
    --size-image: 150px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: var(--size-image);
    height: var(--size-image);
    min-width: var(--size-image);
    min-height: var(--size-image);
    max-width: var(--size-image);
    max-height: var(--size-image);
    border-radius: var(--radius);
}


.square-image.square-image--large{
    --size-image-large: 400px;

    width: var(--size-image-large);
    height: var(--size-image-large);
    min-width: var(--size-image-large);
    min-height: var(--size-image-large);
    max-width: var(--size-image-large);
    max-height: var(--size-image-large);
}
