html, body{
    background-color: var(--white);
    font-size: var(--space);
    height: auto;
    min-height: 100vh;
}

*{
    font-family: 'Roboto', sans-serif !important;
    box-sizing: border-box;
}

input, img{
    border-radius: var(--radius);
}

.body{
    display: flex;
    flex-direction: column;
}

.content{
    padding: 0 var(--space);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: block;
}

.content.content--main{
    padding-top: var(--double-space);
    padding-bottom: var(--double-space);
    flex-grow: 1;
}

.title{
    color: var(--white);
    font-size: 2rem;
    font-weight: 600;
}

.subtitle{
    color: var(--black);
    font-size: 1.75rem;
    font-weight: 500;
}
