.list{
    display: flex;
    flex-direction: column;
    row-gap: var(--space);
    height: 100%;
}

.list .list__container{
    display: flex;
    column-gap: var(--space);
}

.list .list__ad, .list .list__items{
    height: inherit;
}

.list .list__items{
    flex-basis: calc(80% - var(--half-space));
    display: flex;
    flex-direction: column;
    row-gap: var(--space);
}

.list .list__ad{
    flex-basis: calc(20% - var(--half-space));
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius);
    padding: var(--space);
    min-height: 80vh;
}

.list .list__ad-image{
    width: 100%;
}

.list .list__card{
    display: flex;
    align-items: flex-start;
    padding: var(--space);
    border-radius: var(--radius);
    border: var(--border);
    column-gap: var(--space)
}

.list .list__card-content{
    display: flex;
    flex-direction: column;
    row-gap: var(--half-space);
    width: 100%;
    height: 100%;
}

.list .list__card-title{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--black);
}

.list .list__card-text{
    font-size: 1rem;
    color: var(--black);
    flex-grow: 1;
}
